<div class="registration" id="registration">
    <span class="close" id="close" onclick=" document.getElementById('registration').style.display='none'">
        &times;
    </span>
    <form action="/user/login" method="post" class="login-form">
        {{#each errors}}
        <div class="errors">
            <p class="text">{{text}}</p>
        </div>
        {{/each}}
        <div class="form-container">
            <div class="img-thumb">
                <img src="/img/avatar1.png" alt="Avatar" class="avatar" />
            </div>
            <label>
                <input type="email" name="email" placeholder="Email" value="{{email}}" />
            </label>
            <label>
                <input type="password" name="password" placeholder="Password" value="{{password}}" />
            </label>
            <label class="rmb"><input type="checkbox" checked="checked" name="remember" />
                Remember me</label>
            <button type="submit" name="login">Sign In</button>

            <div class="others">
                <span class="fpass">Forgot Password?</span>
                <span class="sign-up">
                    Not yet registered?
                    <a href="#register" class="registerbutton" id="register2">Sign up</a>
                </span>
            </div>
        </div>
    </form>
</div>

<div class="registration2" id="registration2">
    <span class="close" onclick=" document.getElementById('registration2').style.display='none'">
        &times;
    </span>
    <form action="/user/register" method="post" class="login-form">
        {{#each errors}}
        <div class="errors">
            <p class="text">{{text}}</p>
        </div>
        {{/each}}
        <div class="form-container">
            <div class="img-thumb">
                <h2>Registration Form</h2>
                <p>Please fill in the form to create an account</p>
            </div>
            <label class="login-group1">
                <input type="text" name="fullname" placeholder="Fullname" value="{{fullname}}" />
            </label>
            <label class="login-group1">
                <input type="email" name="email" placeholder="Email" value="{{email}}" />
            </label>
            <label class="login-group1">
                <select name="level" id="level">
                    <option value="sLevel">--Select Level--</option>
                    <option value="jss">Junior Secondary</option>
                    <option value="sss">Senior Secondary</option>
                    <option value="100L">100 Level</option>
                    <option value="200L">200 Level</option>
                    <option value="300L">300 Level</option>
                    <option value="400L">400 Level</option>
                    <option value="500L">500 Level</option>
                </select>
            </label>
            <label class="form-group">
                <input type="password" name="password" placeholder="Password" />
            </label>
            <label class="form-group">
                <textarea name="profile_details"
                    placeholder="Little details about yourself">{{profile_details}}</textarea>
                <label class="rmb"><input type="checkbox" checked="checked" name="remember" />
                    Remember me</label>
            </label>
            <button type="submit" name="register">Sign up</button>

            <div class="others">
                <span class="fpass">By signing up, you agree to our
                    <a href="http://"> Terms of privacy</a></span>
                <span class="sign-up">
                    Already registered? <a href="#login" id="login2">Sign in</a>
                </span>
            </div>
        </div>
    </form>
</div>
<section class="section">
    <div class="glide">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides trim">
                <li class="glide__slide">
                    <img src="/img/glide1-sm.jpg" alt="classroom Interactions" />
                </li>
                <li class="glide__slide">
                    <img src="/img/glide2-sm.jpg" alt="classroom Interactions" />
                </li>
                <li class="glide__slide">
                    <img src="/img/glide3-sm.jpg" alt="classroom Interactions" />
                </li>
            </ul>
        </div>
        <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                prev
            </button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
                next
            </button>
        </div>
        <div class="glide__bullets" data-glide-el="controls[nav]">
            <button class="glide__bullet" data-glide-dir="=0"></button>
            <button class="glide__bullet" data-glide-dir="=1"></button>
            <button class="glide__bullet" data-glide-dir="=2"></button>
        </div>
    </div>
</section>

<section class=" container-box awareness">
    <div class="awareness-content-1">
        <h2>Are you having difficulties in a COURSE or SUBJECT?</h2>
        <div class="thumbnail">
            <img src="/img/web-img-child.png" alt="child reading book" />
        </div>
    </div>
    <div class="awareness-content-2">
        <h2>Get help from experienced tutors</h2>
        <span class="packages">
            <p>
                <i class="fas fa-chalkboard-teacher"></i> One-on-one live
                Tutorship
            </p>
            <p>
                <i class="fas fa-lock-open"></i> Get answers to difficult
                questions
            </p>
            <p><i class="fas fa-users"></i> Interact with other students</p>
            <div class="btn-container">
                <a href="#"><button>Find A Tutor</button></a>
            </div>
        </span>
    </div>
</section>